.text-bold {
  font-weight: bold !important;
}

.margin-top-sm {
  margin-top: 18px;
}
.margin-top-sm1 {
  margin-top: 100px;
}
.hidden { display: none }

.text-shadow
{ text-shadow: 2px 2px #089;
  color: skyblue;
  transition: all 1s;
  font-size: 50px;
}
.text-shadow1
{ text-shadow: 2px 2px #089;
  color: sandybrown;
  transition: all 1s;
  font-size: 30px;
}
.text-shadow2
{ text-shadow: 2px 2px #096;
  color: lightskyblue;
  transition: all 1s;
  font-size: 40px;
}
.text-shadow3
{ text-shadow: 2px 0px #544;
  color: peru;
  transition: all 1s;
  font-size: 20px;
}
.text-shadow4
{ text-shadow: 2px 0px #544;
  color: peru;
  transition: all 1s;
  font-size: 40px;
}
.text-shadow5
{ text-shadow: 0px 0px;
  color: black;
  transition: all 1s;
  font-size: 20px;
}
.text-shadow6
{ text-shadow: 0px 0px;
  color: grey;
  transition: all 1s;
  font-size: 17px;
}
.task {
  cursor: pointer;
}
.head-name{
  display: inline;
}
.error{
  color: red;
}